<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tbody>
    <tr>
      <td valign="middle">
        <div class="container full-spaced full-spaced-bottom">
          <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-8 col-xs-11 col-centered">
              <h2 class="text-center no-margin">Inbound.org Portal</h2>
              <p class="text-center no-margin">Use the tabs below to toggle between Inbound Links & Inbound Users Datatable.</p> 
            </div>
          </div>
          <br><br>
          <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#links">Inbound Links</a></li>
              <% unless @inbound_links.blank? %>
                <li><a data-toggle="tab" href="#table">Inbound Users Table</a></li>
              <% end %>
            </ul>
            </div>
          </div>  
          <div class="tab-content">         
          
           <div id="links" class="tab-pane fade in active">
            <div class="row">
              <div class="col-md-9 col-sm-10 col-xs-12 col-centered spaced">
              <%= form_tag inbound_path, method: :post, id: "inbound_form", class: "spaced spaced-bottom" do %>
                <div class="input-group">
                  <%= text_field_tag :inbound_search_query_link, "" , class: "form-control sharp-corners ", required: true, placeholder: "Paste an inbound.org search URL here.", "data-parsley-error-message" => "Please enter valid search query link.", "data-parsley-errors-container" => "#inbound_username_error" %>
                  <span class="input-group-btn">
                    <%= submit_tag "Submit link", id: "inbound_form_submit", class: "btn btn-default sharp-corners" %>
                  </span>
                </div>
                <div id="inbound_username_error"></div>
              <% end %> 
          </div></div>
          <% unless @inbound_links.blank? %>
            <% is_processing = @inbound_links.where(is_processing: true).exists? %>
            <div class="row">
              <div class="col-md-9 col-sm-10 col-xs-12 col-centered spaced">
                <% if is_processing %>
                  <div class="half-spaced"><p style="color: red;font-size: 14px;">Crawler is running. We can run only one crawl at a time</p></div>
                <% end %>
                <div class="table-responsive half-spaced">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Inbound Link</th>
                        <th class="text-center" width="100">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @inbound_links.each do |t| %>
                        <tr>
                          <td>
                            <a href="<%= t.link %>" target="_blank"><%= t.link.to_s.truncate(80) %></a>
                            <% unless t.date_processed.blank? %>
                              <div>Date processed: <%= t.date_processed.strftime('%b %d %Y') %></div>
                            <% end %>
                          </td>
                          <td class="text-center">
                            <% if t.date_processed.blank? %>
                              <a href="<%= is_processing ? "#" : "/admin/inbound/#{t.id.to_s}/run" %>" class="btn btn-success <%= is_processing ? "disabled" : "" %>">Run</a>
                            <% elsif t.date_processed == Date.today %>
                              <p style="color: red;">Updated!</p>
                            <% elsif t.date_processed < Date.today %>
                              <a href="<%= is_processing ? "#" : "/admin/inbound/#{t.id.to_s}/update" %>" class="btn btn-primary <%= is_processing ? "disabled" : "" %>">Update</a>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
           </div> 
          <% end %>
          <% unless @inbound_users.blank? %>
          <div id="table" class="tab-pane fade in">
            <div class="row">
              <div class="col-md-9 col-sm-10 col-xs-12 col-centered" id="inbound_datatable">
                <div class="row spaced">
                  <div class="col-sm-12 col-md-6">
                    <input id="inboundFollowerSearch" type="text" placeholder="Search" />
                    <select id="inboundFollowerSearch2" class="btn btn-default dropdown-toggle"> 
                      <option  value="1"> Name & Username </option>
                      <option  value="2"> Job & Designation</option>
                      <option  value="3"> Location </option>
                      <option  value="4"> Badges </option>
                      <option  value="5"> Karma </option>
                      <option  value="6"> Followers </option>
                      <option  value="7"> Following </option>
                      <option  value="8"> Number of badges </option>
                    </select>
                  </div>
                  <div class="col-sm-12 col-md-6 text-right">
                    <div class="dropdown" style="padding-top: 7px;">
                      <label id="dataTablesInfo"></label>
                      <button class="btn dropdown-toggle custom-dropdown-btn" type="button" id="dataTablesLength" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                      <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="dataTablesLength">
                        <li style="padding: 6px 0px;">Show up to:</li>
                        <li><a href="javascript:void(0);" onclick="$.fn.changeDataTableLength(10);">&nbsp;&nbsp;10 items</a></li>
                        <li><a href="javascript:void(0);" onclick="$.fn.changeDataTableLength(20);">&nbsp;&nbsp;20 items</a></li>
                        <li><a href="javascript:void(0);" onclick="$.fn.changeDataTableLength(40);">&nbsp;&nbsp;40 items</a></li>
                        <li><a href="javascript:void(0);" onclick="$.fn.changeDataTableLength(80);">&nbsp;&nbsp;80 items</a></li>
                        <li><a href="javascript:void(0);" onclick="$.fn.changeDataTableLength(100);">&nbsp;&nbsp;100 items</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-md-offset-8 text-right">
                    <a class="btn btn-primary inbound-user-update">Refresh table</a>                   
                  </div>
                </div>
                <table id="inbound_followers" class="table table-bordered" data-source="/admin/inbound.json">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Following</th>
                      <th>Follow Back</th>
                      <th>Date Processed</th>
                      <th class="text-center" style="padding-right: 0px; text-align: left;">Social Media Links</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>  
          <% end %>
        </div>
      </td>
    </tr>
  </tbody>
</table>

</div>
<%# Ajax Inbound User Detail Modal %>
<div id="inbound_user_modal"></div>
