<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tbody>
    <tr>
      <td valign="middle">
        <div class="container-fluid" id="fullpage">
          <section class="section" id="section_1">
            <div class="row">
              <div class="top-strip"></div>
            </div>
            <div class="row">
              <div class="col-sm-7 col-xs-12 text-right" style="position: absolute;top: 35px;padding: 0px 40px;z-index: 10;font-size:17px;">
                <a href="https://twitter.com/pipecandyhq" target="_blank">Twitter</a> &nbsp;&nbsp;&nbsp; <a href="https://facebook.com/pipecandyhq" target="_blank">Facebook</a> &nbsp;&nbsp;&nbsp; <a href="http://blog.pipecandy.com" target="_blank">Blog</a>
              </div>
            </div>
            <div class="row">
              <div class="row-sm-height">
                <div class="col-sm-7 col-sm-height col-middle col-xs-12 col-no-gutter">
                  <div class="row">
                    <div class="col-sm-10 col-xs-12 col-centered home-padding">
                      <div class="row">
                        <div class="col-xs-12 text-right">
                          <a href="/" title="PipeCandy">
                            <%= image_tag "/assets/logo.png", width: "100%", height: "100%", alt: "PipeCandy", :class => "logo", align: "middle", title: "Email Prospecting Software For Sales Reps!" %>
                          </a>
                        </div>
                        <div class="col-xs-12 text-right heading">
                          <span>Say hello with warm handshakes. Not, cold emails!</span>
                        </div>
                      </div>
                      <%= form_tag "#", class: "form-horizontal", onsubmit: "return false;" do %>
                        <div class="row form-group">
                          <div class="col-xs-12 text-right clearfix">
                            <%= email_field_tag :email, "", :class => "early-access-text flat-input clearfix clearfield", "data-parsley-error-message" => "Could you fill the email address please?", required: true, placeholder: "Enter email address" %>
                            <div class="email-error" style="font-size: 12px;color: rgb(255, 0, 0);"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 text-right">
                            <%= submit_tag "GET EARLY ACCESS!", onclick: "$.fn.get_early_access(event, this)", :class => "btn early-access-btn" %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="hidden-xs col-sm-5 col-sm-height col-middle col-xs-12 col-no-gutter">
                  <%= image_tag "/assets/Banner.jpg", width: "100%", height: "100%", alt: "Banner PipeCandy", :class => "img-responsive", align: "middle" %>
                </div>
              </div>
            </div>
          </section>
          <section class="section" id="section_2">
            <div class="row">
              <div class="row-sm-height">
                <div class="hidden-xs col-sm-7 col-sm-height col-middle col-xs-12 col-no-gutter black-background">
                  <%= image_tag "/assets/laptop.jpg", width: "100%", height: "100%", alt: "PipeCandy", :class => "img-responsive", align: "middle" %>
                </div>
                <div class="col-sm-5 col-sm-height col-middle col-xs-12 col-no-gutter black-background">
                  <div class="custom-padding">
                    <div class="heading hidden-xs hidden-sm">PipeCandy is setting the gold standard for email prospecting</div>
                    <div class="heading hidden-lg hidden-md">Gold standard for email prospecting</div>
                    <div class="note">
                      <p>PipeCandy is intelligent, well mannered and understands the nuances of sales prospecting. It learns about your organization, customers, offerings and recommends prospects. PipeCandy ranks your prospects and sends them personalized emails. <span class="hidden-xs hidden-sm">It does all this while demanding very little time from you.</span></p>
                      <p>With data, predictive models and our deep understanding of what makes for 'good salesmanship', PipeCandy is designed to be your alterego.</p>
                      <p>Forget mass email campaigns, the tyranny of building email lists &amp; running out of time and ideas. It&rsquo;s time you get PipeCandy &amp; put email prospecting on the cruise mode.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section" id="section_3">
            <div class="row">
              <div class="col-xs-12 col-no-gutter">
                <div class="hidden-xs">
                  <div class="carousel">
                    <div class="carousel-inner">
                      <%= image_tag "/assets/collage.jpg", width: "100%", height: "100%", alt: "PipeCandy", :class => "img-responsive", align: "middle" %>
                      <div class="carousel-caption">
                        <div class="row">
                          <div class="col-lg-7 col-md-10 col-sm-11 col-xs-12 col-centered">
                            <div class="card">
                              <div class="heading">Spend zero time in building prospect lists &amp; contacts</div>
                              <div class="note">
                                <p>Creating email lists is where most prospecting initiatives come to a halt. It&rsquo;s not that sales organizations don&rsquo;t care much about prospecting, but it takes forever to build lists and often, there isn&rsquo;t anyone to do it forever.</p>
                                <p>We&rsquo;ve killed list building. You tell us what your target market is, the types of organizations and the roles that would be your ideal prospects. PipeCandy finds matching companies, people and their contacts. Even better, your lists now update themselves, the moment there is a new match or a change in your existing list. Say hello! to <span class="highlight">Dynamic Lists <sup>TM</sup></span>.</p>
                                <p>Got your own lists? PipeCandy takes them in and makes them <span class="highlight">Dynamic Lists <sup>TM</sup></span>.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="visible-xs">
                  <div class="row full-spaced">
                    <div class="col-xs-11 col-centered">
                      <div class="card">
                        <div class="heading">Spend zero time in building prospect lists &amp; contacts</div>
                        <div class="note">
                          <p>Creating email lists is where most prospecting initiatives come to a halt. It&rsquo;s not that sales organizations don&rsquo;t care much about prospecting, but it takes forever to build lists and often, there isn&rsquo;t anyone to do it forever.</p>
                          <p>We&rsquo;ve killed list building. You tell us what your target market is, the types of organizations and the roles that would be your ideal prospects. PipeCandy finds matching companies, people and their contacts. Even better, your lists now update themselves, the moment there is a new match or a change in your existing list. Say hello! to <span class="highlight">Dynamic Lists <sup>TM</sup></span>.</p>
                          <p>Got your own lists? PipeCandy takes them in and makes them <span class="highlight">Dynamic Lists <sup>TM</sup></span>.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section" id="section_4">
            <div class="row">
              <div class="row-sm-height">
                <div class="col-sm-7 col-sm-height col-middle col-xs-12 col-no-gutter">
                  <div class="custom-padding">
                    <div class="heading">We&rsquo;ve every data point you need to personalize</div>
                    <div class="note">
                      <p>Remember, we talked about warm handshakes? That&rsquo;s possible because, PipeCandy tells you some very interesting things you need to know about a prospect.</p>
                      <p>PipeCandy has some of the best data scientists who have the experience in dealing with internet scale data &amp; building sophisticated customer acquisition models. We also have partnerships with world&rsquo;s leading data providers through which we get you the most recent data that will improve the precision of your prospecting efforts.</p>
                    </div>
                  </div>
                </div>
                <div class="hidden-xs col-sm-5 col-sm-height col-middle col-xs-12 col-no-gutter">
                  <%= image_tag "/assets/network.png", width: "100%", height: "100%", alt: "PipeCandy", :class => "img-responsive", align: "middle" %>
                </div>
              </div>
            </div>
          </section>
          <section class="section" id="section_5">
            <div class="row">
              <div class="row-sm-height">
                <div class="hidden-xs col-sm-7 col-sm-height col-middle col-xs-12 col-no-gutter black-background">
                  <%= image_tag "/assets/pencils.jpg", width: "100%", height: "100%", alt: "PipeCandy", :class => "img-responsive", align: "middle" %>
                </div>
                <div class="col-sm-5 col-sm-height col-middle col-xs-12 col-no-gutter black-background">
                  <div class="custom-padding">
                    <div class="heading">PipeCandy writes the email for you, well almost!</div>
                    <div class="note">
                      <p>What good is a gorgeous, sophisticated email prospecting software if it can&rsquo;t get you results? We hear you. PipeCandy comes with pre-built email templates for common prospecting scenarios. <span class="hidden-xs hidden-sm">We didn&rsquo;t write them during the weekends when we had to find a channel for our creative urges. These are battle-tested emails that have worked for us over the years.</span></p>
                      <p>The sophistication of these templates is hidden behind the simple and clean interface. <span class="highlight">Smart Tags <sup>TM</sup></span> embedded in these templates magically decide if there is enough data to personalize for a specific recipient and accordingly adds, modifies or redacts sentences.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section" id="section_6">
            <div class="row">
              <div class="row-sm-height">
                <div class="col-sm-7 col-sm-height col-middle col-xs-12 col-no-gutter">
                  <div class="custom-padding">
                    <div class="heading">Your prospects will find you to be endearing</div>
                    <div class="note">
                     <p>We have trained PipeCandy to be courteous, thoughtful and positively surprising.</p>
                     <p>For instance, we understand when your prospects generally open your emails and deliver just at that time. Hurricane in the east coast? We&rsquo;ll remind you to send a 'stay safe' note. Trouble at a prospect&rsquo;s factory and you know a supply chain expert? We&rsquo;ll connect those dots for you, so that you can be genuinely helpful.</p>
                     <p>Helping is the best form of selling. We&rsquo;ll help you do it every day, effortlessly!</p>
                    </div>
                  </div>
                </div>
                <div class="hidden-xs col-sm-5 col-sm-height col-middle col-xs-12 col-no-gutter">
                  <%= image_tag "/assets/dog.jpg", width: "100%", height: "100%", alt: "PipeCandy", :class => "img-responsive", align: "middle" %>
                </div>
              </div>
            </div>
          </section>
          <section class="section" id="section_7">
            <div class="row">
              <div class="row-sm-height">
                <div class="col-sm-8 col-sm-height col-middle col-xs-12 black-background col-no-gutter">
                  <div class="custom-padding">
                    <div class="heading">Meet your Concierge</div>
                    <div class="note">
                      <p>Some of our early customers confirmed our fear - In spite of their good intentions to scale outbound prospecting, there is a skill and/or time availability issue in many organizations. If this is true of your organization as well, we&rsquo;ve something for you.</p>
                    </div>
                    <div class="hidden-xs half-spaced"></div>
                    <div class="row">
                      <div class="row-sm-height">
                        <div class="col-sm-6 col-sm-height col-top col-xs-12 note">
                          <p><span class="highlight">Concierge,</span> is a bespoke outbound prospecting program for organizations that are in a hurry but can&rsquo;t devote the time such a strategic initiative demands. The Concierge team sets up a professional outbound prospecting program after a diligent review of your context and expectations.</p>
                        </div>
                        <div class="col-sm-6 col-sm-height col-top col-xs-12 note">
                          <p>Concierge is a fine blend of best of the breed tools, field-tested processes, highly experienced consultants and smart, hands-on campaign runners.</p>
                          <p class="highlight-bold">PipeCandy gives you intelligence &amp; scale. Concierge gives you the leverage of our expertise.</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 text-left" style="padding-top: 40px;">
                        <a href="javascript:void(0);" onclick="$.fn.show_request_access_modal();" class="btn conceirge-btn">REQUEST ACCESS</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hidden-xs col-sm-4 col-sm-height col-middle col-xs-12 black-background col-no-gutter">
                  <%= image_tag "/assets/butler.jpg", width: "100%", height: "100%", alt: "PipeCandy", :class => "img-responsive", align: "middle" %>
                </div>
              </div>
            </div>
          </section>
          <section class="section" id="section_8">
            <div class="row">
              <div class="row-sm-height">
                <div class="col-md-7 col-sm-6 col-sm-height col-middle col-xs-12 col-no-gutter">
                  <div class="custom-padding">
                    <div class="heading">We&rsquo;ve packed a lot more</div>
                    <div class="note">
                      <p>We&rsquo;re literally moving mountains (of data), putting earnest efforts to learn about your business and solving some really hard data science problems, so that you get that additional qualified lead and reclaim several hours in your busy day. There are many 'That&rsquo;s so obvious. Why didn&rsquo;t we have it already' features, that are keeping us excited.</p>
                    </div>
                  </div>
                </div>
                <div class="hidden-xs col-md-5 col-sm-6 col-sm-height col-middle col-xs-12 col-no-gutter">
                  <%= image_tag "/assets/laptop2.png", width: "100%", height: "100%", alt: "PipeCandy", :class => "img-responsive", align: "middle" %>
                </div>
              </div>
            </div>
          </section>
          <section class="section" id="section_9">
            <div class="row">
              <div class="col-xs-12 light-dark-background full-spaced full-spaced-bottom">
                <div class="row">
                  <div class="col-md-8 col-sm-10 spaced spaced-bottom subscribe-padding">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="subscribe-heading">Looks like we&rsquo;re doing a lot of talking. Why don&rsquo;t you sign up for early access? We&rsquo;ll continue this conversation from thereon.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <%= form_tag "#", class: "form-horizontal spaced", onsubmit: "return false;" do %>
                          <div class="input-group">
                            <%= email_field_tag :email, "", :class => "form-control clearfix clearfield", placeholder: "Enter email address", style: "height: 45px;" %>
                            <span class="input-group-btn">
                              <%= submit_tag "GET EARLY ACCESS!", onclick: "$.fn.get_early_access(event, this)", :class => "btn subscribe-btn", style: "height: 45px;" %>
                            </span>
                          </div>
                          <div class="row col-xs-12 email-error" style="display: block;position: absolute;font-size: 12px;color: rgb(255, 0, 0);margin-top: 5px;"></div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 full-spaced full-spaced-bottom dark-background">
                <div class="row">
                  <div class="col-md-10 col-sm-11 col-xs-12 col-centered spaced spaced-bottom teams">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="heading">The Founding Team</div>
                      </div>
                    </div>
                    <div class="row team-profile">
                      <div class="col-sm-4 col-xs-12 text-center spaced">
                        <div class="half-spaced"><%= image_tag "/assets/ashwin.png", width: "100%", height: "100%" %></div>
                        <div class="name">ASHWIN RAMASAMY</div>
                        <div class="designation">Co-founder &amp; Chief Executive Officer</div>
                        <div class="description">
                          <div>
                            Founded ContractIQ, a B2B marketplace for mobile outsourcing that served customers like Philips, H&amp;R Block and Soylent.<br/><br/>Alumnus of IIT Madras
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 col-xs-12 text-center spaced">
                        <div class="half-spaced"><%= image_tag "/assets/murali.png", width: "100%", height: "100%" %></div>
                        <div class="name">MURALI VIVEKANANDAN</div>
                        <div class="designation">Co-founder &amp; Chief Technology Officer</div>
                        <div class="description">
                          Co-founded Radaptive, a PaaS company that serves customers like Ericsson, Microsoft, Zynga &amp; eBay.<br/><br/>Alumnus of Google &amp; Cisco
                        </div>
                      </div>
                      <div class="col-sm-4 col-xs-12 text-center spaced">
                        <div class="half-spaced"><%= image_tag "/assets/shrikanth.png", width: "100%", height: "100%" %></div>
                        <div class="name">SHRIKANTH JAGANNATHAN</div>
                        <div class="designation">Co-founder &amp; Chief Intelligence Officer</div>
                        <div class="description">
                          Built &amp; grew data science teams for Genpact, Infosys &amp; CapGemini.<br/><br/>Alumnus of IIT Madras &amp; Johns Hopkins
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 light-dark-background half-spaced half-spaced-bottom text-center">
                <div class="copyright">Copyright &copy; PipeCandy | All Rights Reserved</div>
              </div>
            </div>
          </section>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div id="request_access_modal" class="modal fade" aria-labelledby="Concierge" aria-hidden="true">
  <div class="modal-vertical-align-helper">
    <div class="modal-dialog modal-vertical-center">
      <div class="modal-content">
        <div class="top-strip"></div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><%= image_tag "/assets/cancel.png", width: "24", height: "24" %></button>
        <div class="modal-body modal-body-1">
          <div class="row">
            <div class="col-xs-12">
              <p><span class="highlight">Concierge</span> being a very personalized service, we&rsquo;re opening access to a limited set of customers every month.</p>
              <p class="half-spaced">Please fill in your details and you'll hear from us very soon on the way forward.</p>
            </div>
          </div>
          <%= form_for :concierge, url: concierge_process_path, method: :post, html: {:class => "form-horizontal full-spaced", id: "concierge_modal"} do |f| %>
            <div class="row">
              <div class="row-sm-height">
                <div class="col-sm-6 col-sm-height col-middle col-xs-12 clearfix">
                  <div>
                    <%= f.text_field :name, :class => "flat-input early-access-text clearfield", "data-parsley-error-message" => "Oops! Your name is missing.", required: true, placeholder: "Your name" %>
                  </div>
                  <div class="half-spaced">
                    <%= f.email_field :email, :class => "flat-input early-access-text clearfield", "data-parsley-error-message" => "Mmm. Could you fill the email address please?", required: true, placeholder: "Email address" %>
                  </div>
                  <div class="half-spaced">
                    <%= f.text_field :company, :class => "flat-input early-access-text clearfield", "data-parsley-error-message" => "Again, what's the name of your organization?", required: true, placeholder: "Name of your organization" %>
                  </div>
                </div>
                <div class="col-sm-6 col-sm-height col-middle col-xs-12">
                  <div class="hidden-lg hidden-md hidden-sm spaced"></div>
                  <%= f.text_area :description, rows: 7, :class => "form-control clearfield", placeholder: "A short description of your business", style: "font-size: 13px;border-radius: 0px;" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-center full-spaced">
                <%= f.submit "REQUEST ACCESS", id: "request_access_submit", :class => "btn conceirge-btn" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-body modal-body-2" style="display: none">
          <div class="row">
            <div class="col-xs-12">
              <div class="heading">CONCIERGE TEAM SAYS 'THANK YOU!'</div>
            </div>
            <div class="col-xs-12 spaced">
              <div class="note">
                <p>Thanks <span id="request_person_name"></span>! I can't wait to get you started with Concierge.</p>
                <p>If you have any questions or simply want to get connected personally, please do get in touch with me, Ashwin, at <a href="mailto:ashwin@pipecandy.com" target="_blank">ashwin@pipecandy.com</a>. I'm also on twitter at <a href="https://twitter.com/ashwinizer" target="_blank" rel="nofollow">@ashwinizer</a>.</p>
                <p>Follow us at <a href="https://twitter.com/PipeCandyHQ" target="_blank" rel="nofollow">@PipeCandyHQ</a> to stay up to date.</p>
                <br/>
                <br/>
                <p>Ashwin Ramasamy<br/>Co-founder &amp; CEO of PipeCandy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%#
<div class="row">
  <div class="hidden-lg hidden-md hidden-sm">
    <div class="social-floater">
      <div class="half-spaced">
        <a href="https://twitter.com/PipeCandyHQ"><img src="/assets/twitter.png" alt="Twitter-PipeCandy" width="30"></a>
      </div>
      <div class="half-spaced">
        <a href="https://www.facebook.com/pipecandyhq/"><img src="/assets/facebook.png" alt="Facebook-PipeCandy" width="30"></a>
      </div>
      <div class="half-spaced">
        <a href="http://blog.pipecandy.com"><img src="/assets/blog.png" alt="Blog-PipeCandy" width="30"></a>
      </div>
    </div>
  </div>
  <div class="hidden-xs">
    <div class="col-sm-12 text-right social-profile">
      <a href="https://twitter.com/PipeCandyHQ" target="_blank">Twitter</a>
      <a href="https://www.facebook.com/pipecandyhq/" target="_blank">Facebook</a>
      <a href="http://blog.pipecandy.com" target="_blank">Blog</a>
    </div>
  </div>
</div>
%>